@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

:root {
	--clr-very-dark-magenta: hsl(300, 43%, 22%);
	--clr-soft-pink: hsl(333, 80%, 67%);
	--clr-dark-grayish-magenta: hsl(303, 10%, 53%);
	--clr-light-grayish-magenta: hsl(300, 24%, 96%);
	--clr-white: #fff;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;
}

$mediaMinWidth_desktop: 1130px;
$footerMaxHeight: 2.5rem;

body {
	font-family: 'League Spartan', sans-serif;
	position: relative;
}

.hidden-page-heading {
	display: none;
}

main {
	overflow: auto;

	.container {
		height: calc(100vh - $footerMaxHeight);
		min-width: 350px;
		max-width: 350px;
		margin-inline: auto;
		display: grid;
		align-items: center;

		@media screen and (min-width: $mediaMinWidth_desktop) {
			max-width: $mediaMinWidth_desktop;
		}

		.inner-container {
			.main-grid {
				display: grid;
				gap: 2.5rem;
				padding-block: 5rem;
				padding-inline: 0.69rem;
				position: relative;

				&__background {
					position: absolute;
					inset: 0;
					background: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
					background-position: top left, bottom right;
					background-repeat: no-repeat;
					opacity: 0.3;

					@media screen and (min-width: $mediaMinWidth_desktop) {
						background: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
						background-repeat: no-repeat;
					}
				}

				@media screen and (min-width: $mediaMinWidth_desktop) {
					grid-template-columns: 415px auto 537px;

					.narrative {
						grid-column: 1;
					}

					.ratings {
						grid-column: 3;
					}

					.cards {
						grid-column: 1 / 4;
					}
				}

				.narrative {
					display: grid;
					gap: 0.28em;
					text-align: center;

					@media screen and (min-width: $mediaMinWidth_desktop) {
						text-align: unset;
					}

					&__heading {
						font-size: 2.5rem;
						letter-spacing: -.035em;
						color: var(--clr-very-dark-magenta);
						line-height: 0.8;

						@media screen and (min-width: $mediaMinWidth_desktop) {
							font-size: 3.5rem;
							line-height: 0.9;
						}
					}

					p {
						font-size: 1.1rem;
						font-weight: var(--fw-medium);
						line-height: 1.5;
						margin-top: 1em;
						color: var(--clr-dark-grayish-magenta);
					}
				}

				.ratings {
					display: grid;
					gap: 1rem;


					@media screen and (min-width: $mediaMinWidth_desktop) {
						margin-block: 2.5rem;

						&>* {
							width: 100%;
						}
					}

					.rating {
						font-size: 1.05rem;
						display: flex;
						gap: 0.75rem;
						flex-direction: column;
						align-items: center;
						background: var(--clr-light-grayish-magenta);
						color: var(--clr-very-dark-magenta);
						font-weight: var(--fw-bold);
						padding-block: 1rem;
						border-radius: 0.5em;

						@media screen and (min-width: $mediaMinWidth_desktop) {
							font-size: 1.08rem;
							align-items: unset;
							flex-direction: row;
							gap: 2rem;
							padding-inline: 1.9rem;
							max-width: 445px;

							&:nth-of-type(2) {
								margin-left: 3rem;
							}

							&:nth-of-type(3) {
								margin-left: 6rem;
							}
						}

						&__stars {
							display: flex;
							gap: 0.5rem;
							height: 16px;

						}
					}
				}

				.cards {
					display: grid;
					gap: 1rem;

					@media screen and (min-width: $mediaMinWidth_desktop) {
						gap: 2rem;
						grid-template-columns: 1fr 1fr 1fr;

						&>* {
							height: 100%;
						}
					}

					.card {
						display: grid;
						gap: 1.5rem;
						background: var(--clr-very-dark-magenta);
						color: var(--clr-white);
						padding: 2.5rem 1.95rem 1.5rem;
						border-radius: 0.5rem;

						@media screen and (min-width: $mediaMinWidth_desktop) {
							gap: 0.5rem;
							padding-inline: 2.1rem;

							&:nth-of-type(2) {
								margin-top: 1rem;
							}

							&:nth-of-type(3) {
								margin-top: 2rem;
							}
						}

						&__heading {
							display: flex;
							gap: 1.4rem;
							height: 40px;

							img {
								border-radius: 50%;
							}

							&__buyer__name {
								font-size: 1.05rem;
							}

							&__buyer__verified {
								font-size: 1.1rem;
								font-weight: var(--fw-regular);
								color: var(--clr-soft-pink);
							}
						}

						p {
							font-size: 1.02rem;
							font-weight: var(--fw-medium);
							line-height: 1.45;

							@media screen and (min-width: $mediaMinWidth_desktop) {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	font-size: 0.8rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.25rem;
	text-align: center;
	height: $footerMaxHeight;
	display: grid;
	place-content: center;
	background: #fff;

	a {
		color: blue;
	}
}